<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sora.modules.loges.mapper.MessageMapper">
    <select id="findAll" resultType="com.sora.modules.loges.entity.Message">
        select * from message
        <where>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="createTime != null">
                and date_format(create_time, '%Y-%m-%d') = date_format(#{createTime}, '%Y-%m-%d')
            </if>
            <if test="smsType != null">
                and sms_type = #{smsType}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>